li{
  margin-top: 3em;
}
p{
  text-align: justify;
}
button{
  margin-left: 0.5em;
}
.foto {
  width: 100%;
  height: auto;
  margin-top: 3em;
}
body{
  background-image: linear-gradient(to right, #3a5767, #dae1e7);
}
